# Database
DATABASE_URL="postgresql://user:password@localhost:5432/dashboard_desa?schema=public"

# Authentication
BETTER_AUTH_SECRET="your-secret-key-here-min-32-characters"
ADMIN_EMAIL="admin@example.com"
ADMIN_PASSWORD="admin123"

# GitHub OAuth (Optional)
GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""

# Google OAuth (Optional)
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

# Application
PORT=3000
NODE_ENV=development
LOG_LEVEL=info

# Public URL
VITE_PUBLIC_URL="http://localhost:3000"
NOC_API_URL="https://darmasaba.muku.id/api/noc/docs/json"

# Desa Website API (for backend proxy)
DESA_API_URL="https://desa-darmasaba-stg.wibudev.com"

# External Desa API (for frontend direct access)
VITE_DESA_API_URL="https://desa-darmasaba-stg.wibudev.com"
